<!DOCTYPE html>
<html lang="{{lang}}">
<head>
{{> head}}
</head>
<body class="page-index">
{{> header}}
<main id="conteudo">
  <h1>{{titulo}}</h1>
  {{#if destaques}}
  {{> carousel}}
  {{else}}
  {{hero}}
  {{/if}}
  {{#if imagens}}
  <section class="galeria" aria-label="{{ui.galeria}}">
    <ul class="galeria__lista">
      {{#each imagens}}
      <li class="galeria__item">{{img this preset=galeria}}</li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  {{#if video_embed}}
  <section class="video">
    <iframe class="video__frame" src="{{video_embed}}" title="{{ui.video_titulo}}" loading="lazy" allow="accelerometer; encrypted-media; picture-in-picture" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </section>
  {{/if}}
</main>
{{> footer}}
<script src="{{js_href}}" defer></script>
</body>
</html>
