<section class="destaques" data-carousel data-interval="6000" aria-roledescription="carousel" aria-label="{{ui.destaques}}">
  <ul class="destaques__slides">
    {{#each destaques}}
    <li class="destaque{{#if @first}} is-active{{/if}}" data-slide>
      {{#if @first}}{{hero imagem_horizontal imagem_vertical class=destaque__media preset=slide}}{{else}}{{hero imagem_horizontal imagem_vertical class=destaque__media preset=slide eager=false}}{{/if}}
      {{#if cancelado}}<div class="cancelado-faixa cancelado-faixa--grande">{{ui.cancelado}}</div>{{/if}}
      <div class="destaque__texto">
        <h2 class="destaque__titulo">{{titulo}}</h2>
        <p class="destaque__resumo">{{resumo}}</p>
        <a class="botao" href="{{url}}">{{ui.saber_mais}}</a>
      </div>
    </li>
    {{/each}}
  </ul>
  {{#if destaques_multiplos}}
  <div class="destaques__bullets" role="group" aria-label="{{ui.destaques}}">
    {{#each destaques}}
    <button type="button" class="destaques__bullet" data-bullet aria-label="{{ui.slide}} {{@number}}"{{#if @first}} aria-current="true"{{/if}}></button>
    {{/each}}
  </div>
  {{/if}}
</section>
