<div class="elementor elementor-115" data-elementor-id="115" data-elementor-type="wp-post">
							<div class="wolf-core-elementor-row wolf-core-font- wolf-core-parent-row elementor-element elementor-element-f39b58e not-one-page-section e-flex e-con-boxed e-con e-parent wolf-core-no-next-section section-appeared-once section-appeared e-lazyloaded"
								data-anchor="footer-newsletter-block" data-color-tone="" data-e-type="container"
								data-element_type="container" data-font-skin="" data-id="f39b58e"
								data-row-name="Footer Newsletter Block" data-scroll-class="locoscroll-animate"
								data-scroll-css-progress="" data-scroll-custom-duration="" data-scroll-custom-offset=""
								data-scroll-entrance-animation="" data-settings='{"background_background":"classic"}'
								id="footer-newsletter-block">
								<div class="e-con-inner">
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-cf88d71 e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="cf88d71" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-9edf4f2 elementor-widget elementor-widget-heading"
											data-e-type="widget" data-element_type="widget" data-id="9edf4f2"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h5 class="elementor-heading-title elementor-size-default">Join our
													Community</h5>
											</div>
										</div>
									</div>
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-09ff306 e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="09ff306" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-386b655 elementor-widget elementor-widget-heading"
											data-e-type="widget" data-element_type="widget" data-id="386b655"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h5 class="elementor-heading-title elementor-size-default">Subscribe to
													our Newsletter</h5>
											</div>
										</div>
										<div class="elementor-element elementor-element-b4c90eb elementor-widget elementor-widget-text-editor"
											data-e-type="widget" data-element_type="widget" data-id="b4c90eb"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<p>Stay updated on our latest events and offers!</p>
											</div>
										</div>
										<div class="elementor-element elementor-element-845cea1 elementor-widget elementor-widget-mailchimp"
											data-e-type="widget" data-element_type="widget" data-id="845cea1"
											data-widget_type="mailchimp.default">
											<div class="elementor-widget-container">
												<div class="wolf-core-mailchimp-form-container wolf-core-mailchimp-size-large wolf-core-mailchimp-align-center wolf-core-mailchimp-text-align-center wolf-core-mc-submit-type-text wolf-core-element wolf-core-mailchimp-show-name-"
													style=""></div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-74b303b e-flex e-con-boxed e-con e-parent e-lazyloaded"
								data-color-tone="" data-e-type="container" data-element_type="container"
								data-font-skin="" data-id="74b303b" data-scroll-class="locoscroll-animate"
								data-scroll-css-progress="" data-scroll-custom-duration="" data-scroll-custom-offset=""
								data-scroll-entrance-animation="" data-settings='{"background_background":"classic"}'>
								<div class="e-con-inner">
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-07f7b1e e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="07f7b1e" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-9ec9eeb elementor-widget elementor-widget-heading"
											data-e-type="widget" data-element_type="widget" data-id="9ec9eeb"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h5 class="elementor-heading-title elementor-size-default">Legal</h5>
											</div>
										</div>
										<div class="elementor-element elementor-element-75cfe4c elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
											data-e-type="widget" data-element_type="widget" data-id="75cfe4c"
											data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items">
													<li class="elementor-icon-list-item">
														<a class="internal-link" href="{{urls.index}}">
															<span class="elementor-icon-list-text">Terms &amp;
																Conditions</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a class="internal-link" href="{{urls.index}}">
															<span class="elementor-icon-list-text">Privacy Policy</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a class="internal-link" href="{{urls.index}}">
															<span class="elementor-icon-list-text">FAQ</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a class="internal-link" href="{{urls.index}}">
															<span class="elementor-icon-list-text">Support</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-14cb72c e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="14cb72c" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-86df9bc elementor-widget elementor-widget-heading"
											data-e-type="widget" data-element_type="widget" data-id="86df9bc"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h5 class="elementor-heading-title elementor-size-default">Community
												</h5>
											</div>
										</div>
										<div class="elementor-element elementor-element-fc7e1ef elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
											data-e-type="widget" data-element_type="widget" data-id="fc7e1ef"
											data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items">
													<li class="elementor-icon-list-item">
														<a class="internal-link" href="{{urls.aboutus}}">
															<span class="elementor-icon-list-text">About</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a class="internal-link" href="#">
															<span class="elementor-icon-list-text">Shop</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a class="internal-link" href="{{urls.programming}}">
															<span class="elementor-icon-list-text">Get Tickets</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a class="internal-link" href="{{urls.index}}">
															<span class="elementor-icon-list-text">Press</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-a3d3936 e-con-full elementor-hidden-mobile e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="a3d3936" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-ace9128 elementor-widget elementor-widget-spacer"
											data-e-type="widget" data-element_type="widget" data-id="ace9128"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-bc55aa1 e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="bc55aa1" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-4eb44a6 elementor-widget elementor-widget-heading"
											data-e-type="widget" data-element_type="widget" data-id="4eb44a6"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h5 class="elementor-heading-title elementor-size-default">Social</h5>
											</div>
										</div>
										<div class="elementor-element elementor-element-b5d356f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
											data-e-type="widget" data-element_type="widget" data-id="b5d356f"
											data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items">
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">Instagram</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">Facebook</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">YouTube</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">Spotify</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">Tiktok</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-f12b31f e-flex e-con-boxed e-con e-parent e-lazyloaded"
								data-color-tone="" data-e-type="container" data-element_type="container"
								data-font-skin="" data-id="f12b31f" data-scroll-class="locoscroll-animate"
								data-scroll-css-progress="" data-scroll-custom-duration="" data-scroll-custom-offset=""
								data-scroll-entrance-animation="" data-settings='{"background_background":"classic"}'>
								<div class="e-con-inner">
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-c64db47 e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="c64db47" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-53bad13 elementor-widget elementor-widget-text-editor"
											data-e-type="widget" data-element_type="widget" data-id="53bad13"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												©<span class="wolf-core-current-year">2026</span> Designed by <a
													href="https://wolfthemes.com/" rel="noopener"
													target="_blank">WolfThemes</a> </div>
										</div>
									</div>
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-51b016c e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="51b016c" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="cursor">
		<div class="cursor__inner"></div>
		<div class="cursor-text video-cursor-text">Watch Video</div>
		<div class="cursor-text cursor-text">View gallery</div>
		<div class="cursor-text cursor-text-drag">click &amp; Drag</div>
		<div class="cursor-text video-close-text">Close Video</div>
		<div class="cursor-text product-cursor-text">View product</div>
		<div class="cursor-text event-cursor-text">View event</div>
		<div class="cursor-text work-cursor-text">View work</div>
		<div class="cursor-text artist-cursor-text">Discover artist</div>
		<div class="cursor-text image-cursor-text">View more</div>
		<div class="cursor-text post-cursor-text">Read post</div>
		<div class="cursor-text album-disc-cursor-text">Purchase</div>
		<div class="cursor-text playlist-cursor-text">Click &amp; Play</div>
		<div class="cursor-text view-store-text">View Stores</div>
		<div class="cursor-text gallery_scroll-text">Scroll</div>
	</div>

	<span class="elementor-screen-only" id="elementor-device-mode"></span>

	<script src="/js/vendor/jquery.js"></script>
	<script src="/js/vendor/jquery-migrate.js"></script>