<div class="elementor elementor-115" data-elementor-id="115" data-elementor-type="wp-post">
							<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-74b303b e-flex e-con-boxed e-con e-parent e-lazyloaded"
								data-color-tone="" data-e-type="container" data-element_type="container"
								data-font-skin="" data-id="74b303b" data-scroll-class="locoscroll-animate"
								data-scroll-css-progress="" data-scroll-custom-duration="" data-scroll-custom-offset=""
								data-scroll-entrance-animation="" data-settings='{"background_background":"classic"}'>
								<div class="e-con-inner">
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-14cb72c e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="14cb72c" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-4eb44a6 elementor-widget elementor-widget-heading"
											data-e-type="widget" data-element_type="widget" data-id="4eb44a6"
											data-widget_type="heading.default">
											<div class="elementor-widget-container">
												<h5 class="elementor-heading-title elementor-size-default">Social</h5>
											</div>
										</div>
										<div class="elementor-element elementor-element-b5d356f elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
											data-e-type="widget" data-element_type="widget" data-id="b5d356f"
											data-widget_type="icon-list.default">
											<div class="elementor-widget-container">
												<ul class="elementor-icon-list-items">
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">Instagram</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">Facebook</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">YouTube</span>
														</a>
													</li>
													<li class="elementor-icon-list-item">
														<a href="#">
															<span class="elementor-icon-list-text">Tiktok</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="footer-logo">
										<a class="logo-link" href="{{urls.index}}" rel="home"><img class="footer-logo-img" src="/images/logo_v2.png" alt="{{site.nome}}" width="398" height="272" loading="lazy" decoding="async"></a>
									</div>
									<div class="footer-spacer" aria-hidden="true"></div>
								</div>
							</div>
							<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-f12b31f e-flex e-con-boxed e-con e-parent e-lazyloaded"
								data-color-tone="" data-e-type="container" data-element_type="container"
								data-font-skin="" data-id="f12b31f" data-scroll-class="locoscroll-animate"
								data-scroll-css-progress="" data-scroll-custom-duration="" data-scroll-custom-offset=""
								data-scroll-entrance-animation="" data-settings='{"background_background":"classic"}'>
								<div class="e-con-inner">
									<div class="wolf-core-elementor-row wolf-core-font- elementor-element elementor-element-c64db47 e-con-full e-flex e-con e-child e-lazyloaded"
										data-color-tone="" data-e-type="container" data-element_type="container"
										data-font-skin="" data-id="c64db47" data-scroll-class="locoscroll-animate"
										data-scroll-css-progress="" data-scroll-custom-duration=""
										data-scroll-custom-offset="" data-scroll-entrance-animation="">
										<div class="elementor-element elementor-element-53bad13 elementor-widget elementor-widget-text-editor"
											data-e-type="widget" data-element_type="widget" data-id="53bad13"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												©<span class="wolf-core-current-year">2026</span> Designed by <a
													href="https://ricardoquintas.com/" rel="noopener"
													target="_blank">Ricardo Quintas</a> </div>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="cursor">
		<div class="cursor__inner"></div>
		<div class="cursor-text video-cursor-text">Watch Video</div>
		<div class="cursor-text cursor-text">View gallery</div>
		<div class="cursor-text cursor-text-drag">click &amp; Drag</div>
		<div class="cursor-text video-close-text">Close Video</div>
		<div class="cursor-text product-cursor-text">View product</div>
		<div class="cursor-text event-cursor-text">View event</div>
		<div class="cursor-text work-cursor-text">View work</div>
		<div class="cursor-text artist-cursor-text">Discover artist</div>
		<div class="cursor-text image-cursor-text">View more</div>
		<div class="cursor-text post-cursor-text">Read post</div>
		<div class="cursor-text album-disc-cursor-text">Purchase</div>
		<div class="cursor-text playlist-cursor-text">Click &amp; Play</div>
		<div class="cursor-text view-store-text">View Stores</div>
		<div class="cursor-text gallery_scroll-text">Scroll</div>
	</div>

	<span class="elementor-screen-only" id="elementor-device-mode"></span>

	<script src="/js/vendor/jquery.js"></script>
	<script src="/js/vendor/jquery-migrate.js"></script>