<!-- 
   Hi, you're looking at a web page built with love by:
   
   Ricardo

  /$$$$$$            /$$             /$$                        
 /$$__  $$          |__/            | $$                        
| $$  \ $$ /$$   /$$ /$$ /$$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$$
| $$  | $$| $$  | $$| $$| $$__  $$|_  $$_/   |____  $$ /$$_____/
| $$  | $$| $$  | $$| $$| $$  \ $$  | $$      /$$$$$$$|  $$$$$$ 
| $$/$$ $$| $$  | $$| $$| $$  | $$  | $$ /$$ /$$__  $$ \____  $$
|  $$$$$$/|  $$$$$$/| $$| $$  | $$  |  $$$$/|  $$$$$$$ /$$$$$$$/
 \____ $$$ \______/ |__/|__/  |__/   \___/   \_______/|_______/ 
      \__/                                                                      
   http://www.ricardoquintas.com
   
   October/2026
-->
   
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
<title>{{seo_title}}</title>
<link href="/fonts/anton-latin-400-normal.woff2" rel="preload" as="font" type="font/woff2" crossorigin />
<link href="/css/fonts.css" rel="stylesheet" />
<link href="/css/flickity.css" rel="stylesheet" />
<link href="/css/lity.css" rel="stylesheet" />
<link href="/css/wolf-core.css" rel="stylesheet" />
<link href="/css/inline-wolf-core-styles.css" rel="stylesheet" />
<link href="/css/font-awesome.css" rel="stylesheet" />
<link href="/css/socicon.css" rel="stylesheet" />
<link href="/css/linea-icons.css" rel="stylesheet" />
<link href="/css/linearicons.css" rel="stylesheet" />
<link href="/css/normalize.css" rel="stylesheet" />
<link href="/css/fancybox.css" rel="stylesheet" />
<link href="/css/poize-theme.css" rel="stylesheet" />
<link href="/css/inline-poize-style.css" rel="stylesheet" />
<link href="/css/poize-single-post-style.css" rel="stylesheet" />
<link href="/css/poize-default.css" rel="stylesheet" />
<link href="/css/inline-elementor-frontend.css" rel="stylesheet" />
<link href="/css/e-animation-fadeIn.css" rel="stylesheet" />
<link href="/css/inline-elementor-frontend-event.css" rel="stylesheet" />
<link href="/css/inline-elementor-frontend-programming.css" rel="stylesheet" />
<link href="/css/inline-elementor-frontend-venue.css" rel="stylesheet" />
<link href="/css/widget-image.css" rel="stylesheet" />
<link href="/css/swiper.css" rel="stylesheet" />
<link href="/css/dialog.min.css" rel="stylesheet" />
<link href="/css/inline-elementor-frontend-aboutus.css" rel="stylesheet" />
<link href="/css/widget-spacer.css" rel="stylesheet" />
<link href="/css/swiper.min.css" rel="stylesheet" />
<link href="/css/lightbox.min.css" rel="stylesheet" />
<link href="/css/elementor-frontend.css" rel="stylesheet" />
<link href="/css/inline-elementor-frontend-contacts.css" rel="stylesheet" />
<link href="/css/font-awesome-5-all.css" rel="stylesheet" />
<link href="/css/font-awesome-4-shim.css" rel="stylesheet" />
<link href="/css/widget-heading.css" rel="stylesheet" />
<link href="/css/widget-divider.css" rel="stylesheet" />
<link href="/css/widget-social-icons.css" rel="stylesheet" />
<link href="/css/e-apple-webkit.css" rel="stylesheet" />
<link href="/css/ionicons.css" rel="stylesheet" />
<link href="/css/wolficons.css" rel="stylesheet" />
<link href="/css/poize-app.css" rel="stylesheet" />
<link href="/css/inline-css-hotfix.css" rel="stylesheet" />
<link href="/css/inline-9e02a7.css" rel="stylesheet" />
<link href="/css/inline-wp-custom.css" rel="stylesheet" />
<link href="/css/inline-elementor-post-535.css" rel="stylesheet" />
<link href="/css/inline-elementor-post-249.css" rel="stylesheet" />
<link href="/css/inline-elementor-post-115.css" rel="stylesheet" />
<link href="/css/widget-icon-list.css" rel="stylesheet" />
<link href="/css/site.css" rel="stylesheet" />