<div id="w-offcanvas">		
	</div><a class="scroll-to" href="#top" id="back-to-top-link">
		<svg height="40" viewbox="0 0 11.063 11.079" width="40" xmlns="http://www.w3.org/2000/svg">
			<g transform="translate(-1069.812 -681.873)">
				<path d="M-747.763,1804.468l-10.061,10.1" fill="none" stroke="#1d1d1f" stroke-width="0.5"
					transform="translate(1828 -1122)"></path>
				<path d="M-772.188,1804.373h10.563v10.579" fill="none" stroke="#1d1d1f" stroke-width="0.5"
					transform="translate(1842 -1122)"></path>
			</g>
		</svg>
	</a>
	<div class="panel-font-dark" id="mobile-menu-panel">
		<a class="close-panel-button toggle-mobile-menu" href="#" id="close-mobile-menu-icon">X</a>
		<div id="mobile-menu-panel--inner">
			<div id="vertical-menu-container">
				<div id="mobile-menu-container">
					<div class="menu-primary-menu-container">
						<ul class="nav-menu nav-menu-mobile" id="site-navigation-mobile-mobile">
							<li class="menu-item menu-item-type-post_type menu-item-object-page{{#if nav.index}} current-menu-item{{/if}}"><a
									href="{{urls.index}}"><span class="menu-item-inner"><span
											class="menu-item-text-container" itemprop="name">Home</span></span></a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page{{#if nav.agenda}} current-menu-item{{/if}}"><a
									href="{{urls.agenda}}"><span class="menu-item-inner"><span
											class="menu-item-text-container"
											itemprop="name">{{#lang pt}}Calendário{{/lang}}{{#lang en}}Calendar{{/lang}}</span></span></a></li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page{{#if nav.mural}} current-menu-item{{/if}}"><a
									href="{{urls.mural}}"><span class="menu-item-inner"><span
											class="menu-item-text-container" itemprop="name">Mural</span></span></a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page{{#if nav.contacts}} current-menu-item{{/if}}"><a
									href="{{urls.contacts}}"><span class="menu-item-inner"><span
											class="menu-item-text-container" itemprop="name">Contact</span></span></a>
							</li>
							{{#each alternates}}{{#if current}}{{else}}
							<li class="menu-item menu-item-lang"><a href="{{href}}" hreflang="{{codigo}}" lang="{{codigo}}"><span
										class="menu-item-inner"><span class="menu-item-text-container"
											itemprop="name">{{nome}}</span></span></a></li>
							{{/if}}{{/each}}
						</ul>
					</div>
				</div>
			</div>
			<div class="sidebar-widget-area sidebar-side-panel">
			</div>
			<div class="side-panel-footer">
				<a class="no-link-style" href="#" title="account">
					<img alt="account" loading="lazy" src="/images/account.svg" />
					My Account </a>
			</div>
		</div>
	</div>

	<div class="site-container">
		<div class="hfeed site" id="page">
			<div id="page-content" style="margin-bottom: 0px;">
				<header class="site-header clearfix" id="masthead" itemscope="" itemtype="http://schema.org/WPHeader">
					<p class="site-name" itemprop="headline">Poize</p>
					<p class="site-description" itemprop="description">Music Event WordPress Theme</p>
					<div id="header-content">
						<div class="clearfix site--nav site--nav-color-set" id="desktop-navigation">
							<div class="nav-bar" data-menu-layout="top-justify-left" id="nav-bar">
								<div class="flex-wrap">
									<div class="logo-container">
										<div class="logo logo-is-image"><a class="logo-link" href="{{urls.index}}"
												rel="home"><img class="logo-brand" src="/images/logo.png" alt="{{site.nome}}" width="398" height="272" loading="eager" decoding="async"><img class="logo-brand logo-hover" src="/images/logo_v3.png" alt="" aria-hidden="true" width="398" height="272" loading="eager" decoding="async"></a></div>
									</div>
									<nav class="menu-container" itemscope="itemscope"
										itemtype="https://schema.org/SiteNavigationElement">
										<div class="menu-primary-menu-container">
											<ul class="nav-menu nav-menu-desktop" id="site-navigation-primary-desktop">
												<li class="menu-item menu-item-type-post_type menu-item-object-page{{#if nav.index}} current-menu-item{{/if}}"><a
														class="menu-link" href="{{urls.index}}" itemprop="url"><span
															class="menu-item-inner"><span
																class="menu-item-text-container"
																itemprop="name">Home</span></span></a></li>
												<li class="menu-item menu-item-type-post_type menu-item-object-page{{#if nav.agenda}} current-menu-item{{/if}}"><a
														class="menu-link" href="{{urls.agenda}}" itemprop="url"><span
															class="menu-item-inner"><span
																class="menu-item-text-container"
																itemprop="name">{{#lang pt}}Calendário{{/lang}}{{#lang en}}Calendar{{/lang}}</span></span></a></li>
												<li class="menu-item menu-item-type-post_type menu-item-object-page{{#if nav.mural}} current-menu-item{{/if}}"><a
														class="menu-link" href="{{urls.mural}}" itemprop="url"><span
															class="menu-item-inner"><span
																class="menu-item-text-container" itemprop="name">Mural</span></span></a></li>
												<li class="menu-item menu-item-type-post_type menu-item-object-page{{#if nav.contacts}} current-menu-item{{/if}}"><a
														class="menu-link" href="{{urls.contacts}}" itemprop="url"><span
															class="menu-item-inner"><span
																class="menu-item-text-container"
																itemprop="name">Contact</span></span></a></li>
												{{#each alternates}}{{#if current}}{{else}}
												<li class="menu-item menu-item-lang"><a class="menu-link" href="{{href}}"
														hreflang="{{codigo}}" lang="{{codigo}}" itemprop="url"><span
															class="menu-item-inner"><span
																class="menu-item-text-container"
																itemprop="name">{{nome}}</span></span></a></li>
												{{/if}}{{/each}}
											</ul>
										</div>
									</nav>

									<div class="cta-container">
									</div>
								</div>
							</div>
						</div>
						<div class="site--nav site--nav-color-set" id="mobile-navigation">
							<div class="nav-bar" id="mobile-bar">
								<div class="flex-mobile-wrap">
									<div class="logo-container">
										<div class="logo logo-is-image"><a class="logo-link" href="{{urls.index}}"
												rel="home"><img class="logo-brand" src="/images/logo.png" alt="{{site.nome}}" width="398" height="272" loading="eager" decoding="async"><img class="logo-brand logo-hover" src="/images/logo_v3.png" alt="" aria-hidden="true" width="398" height="272" loading="eager" decoding="async"></a></div>
									</div>

									<div class="hamburger-container">
										<button class="hamburger-link toggle-mobile-menu unbutton side-panel-hamburger">
											<span class="hamburger-btn__hamburger">
												<span class="hamburger-btn__span hbgl--1"></span>

												<span class="hamburger-btn__span hbgl--3"></span>
											</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<div class="site-main clearfix" id="main">
					<div class="panel-closer-overlay toggle-side-panel toggle-cart" id="panel-closer-overlay"></div>
					<div class="site-content">